  


html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  
  @font-face {
    font-family: vollkorn;
    src: url(./assets/Vollkorn-Bold.ttf);
  }
  
  canvas {
    display: block;
  }
  

  

  
  .gameTitle{
    width: 85%;
    height: 160px;
  }
  
  .gameTitleAfterEffect{
    width: 25%;
    height: 80px;
  }
  
  .greeting{
    font-size: 40px;
    color: white;
    font-family: vollkorn;
    text-align: center;
  }
  
  ::placeholder {  
    color: white;
    opacity: 0.5;  
  }
   